@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-fast);
}

a:hover {
    color: var(--primary-hover);
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

input,
textarea {
    font-family: inherit;
}